---
import { model } from '../utils/openAI'
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">Bing</span>
    <span class="gpt-subtitle">AI</span>
  </div>
  <p mt-1 op-60>基于<span class="gpt-subtitle">AI二次元API</span>({model})</p>
</header>
